/**
 * Input.module.css
 * 
 * This file defines the styles for the Input component.
 * 
 * Features:
 * - Supports multiple input styles: default, outlined, filled
 * - Provides error handling with visual feedback
 * - Includes a toggle button for password visibility
 * - Applies smooth transitions for better UX
 * - Ensures accessibility and usability
 */

 .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 10px;
  padding: 5px 0;
  font-weight: 700;
  user-select: none;
  color: #374151;
}

.input {
  width: 100%;
  background-color: var(--color1);
  font-size: 12px;
  border: var(--border1);
  color: #202020;
  padding: 0.7rem 1rem;
  border-radius: 5px;
  outline: none;
  transition: all ease-in-out 0.2s;
  box-sizing: border-box;
}

.input:disabled,
select:disabled {
  background-color: var(--color3);
  color: #ababab;
}

select:not(:disabled):hover {
  background-color: #e4e4e4;
}

/* Input Variants */
.default {
  background-color: white;
}

.outlined {
  border: 2px solid #4f46e5;
}

.filled {
  background-color: #f3f4f6;
  border: none;
}

/* Error State */
.error {
  border-color: #ef4444;
}

.errorMessage {
  color: #ef4444;
  font-size: 12px;
}

/* Wrapper for custom elements */
.inputWrapper {
  position: relative;
}

/* Toggle Password Visibility Button */
.togglePasswordButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #4f46e5;
  padding: 0;
  z-index: 1;
  user-select: none;
  pointer-events: all;
}

.togglePasswordButton img, 
.togglePasswordButton svg {
  pointer-events: none;
  -webkit-user-drag: none;
}
