/**
 * Button.module.css
 * 
 * This file defines the styles for the Button component.
 * 
 * Features:
 * - Supports different button styles, starting with "primary"
 * - Uses CSS variables for color customization
 * - Includes hover, active, and disabled states for better UX
 * - Applies flexbox for proper alignment and spacing
 */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.primary {
    background-color: var(--accentPrimary);
    color: white;
}

.primary:hover {
    background-color: var(--accentPrimaryHover);
}

.primary:active {
    background-color: var(--accentPrimaryPressed);
}

.primary:disabled {
    background-color: var(--accentPrimaryDisabled);
    cursor: not-allowed;
}

.secondary {
    background-color: var(--accentSecondary);
    color: white;
}

.secondary:hover {
    background-color: var(--accentSecondaryHover);
}

.secondary:active {
    background-color: var(--accentSecondaryPressed);
}

.secondary:disabled {
    background-color: var(--accentSecondaryDisabled);
    cursor: not-allowed;
}

.common {
    border: var(--border1);
    background-color: var(--accentCommon);
    color: var(--black);
}

.common:hover {
    background-color: var(--accentCommonHover);
}

.common:active {
    background-color: var(--accentCommonPressed);
}

.common:disabled {
    background-color: var(--accentCommonDisabled);
    cursor: not-allowed;
}

.cancel {
    border: var(--border1);
    background-color: var(--accentCancel);
    color: var(--black);
}

.cancel:hover {
    background-color: var(--accentCancelHover);
}

.cancel:active {
    background-color: var(--accentCancelPressed);
}

.cancel:disabled {
    background-color: var(--accentCancelDisabled);
    cursor: not-allowed;
}

.danger {
    border: var(--border1);
    background-color: var(--accentDanger);
    color: var(--white);
}

.danger:hover {
    background-color: var(--accentDangerHover);
}

.danger:active {
    background-color: var(--accentDangerPressed);
}

.danger:disabled {
    background-color: var(--accentDangerDisabled);
    cursor: not-allowed;
}
