.sign-up {
    display: flex;
    height: 100vh;
}

.sign-up__section {
    width: 50%;
    display: flex;
}

.sign-up__section--right {
    align-items: flex-start;
    justify-content: center;
}

.sign-up__section--left {
    background-color: var(--color3);
    border-right: var(--border1);
    align-items: center;
    justify-content: center;
}

.sign-up__image {
    height: 80%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.sign-up__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.sign-up__logo-wrapper {
    margin: 32px;
}

.sign-up__logo {
    height: 75px;
}

.sign-up__form-wrapper {
    border: var(--border1);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sign-up__form-passwords-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.sign-up__form-passwords-wrapper > * {
  flex: 1;
}

.sign-up__header {
    border-bottom: var(--border1);
    padding: 24px;
    font-weight: 600;
    font-size: x-large;
}

.sign-up__form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up__input {
    background-color: #ffffff !important;
}

.sign-up__input:focus {
    border-color: var(--accentPrimary);
    outline: none;
}

.sign-up__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sign-up__button {
    background-color: var(--accentPrimary);
    color: #ffffff;
    cursor: pointer;
}

.sign-up__footer {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #202020;
}

.sign-up__link {
    margin-left: 4px;
    color: #202020;
}

.sign-up__link:hover {
    color: #404040;
}

/* Responsivity */
@media (max-width: 1100px) {
    .sign-up__image {
        height: 50%;
    }
}

@media (max-width: 768px) {
    .sign-up__section--left {
        display: none;
    }
    
    .sign-up__logo {
        height: 35px;
    }

    .sign-up {
        flex-direction: column;
    }

    .sign-up__section {
        width: 100%;
        height: 50%;
    }

    .sign-up__container {
        width: 90%;
    }

    .sign-up__form-wrapper {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .sign-up__button {
        padding: 12px;
        font-size: 18px;
    }

    .sign-up__link {
        font-size: 15px;
    }
}
