.SuspenseLoader-cubes {
  width: 60px;
  height: 60px;
  margin: 100px auto;
 }
 
 .SuspenseLoader-cubes .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #202020;
  float: left;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
 }
 
 .SuspenseLoader-cubes .sk-cube1 {
  animation-delay: 0.2s;
 }
 
 .SuspenseLoader-cubes .sk-cube2 {
  animation-delay: 0.3s;
 }
 
 .SuspenseLoader-cubes .sk-cube3 {
  animation-delay: 0.4s;
 }
 
 .SuspenseLoader-cubes .sk-cube4 {
  animation-delay: 0.1s;
 }
 
 .SuspenseLoader-cubes .sk-cube5 {
  animation-delay: 0.2s;
 }
 
 .SuspenseLoader-cubes .sk-cube6 {
  animation-delay: 0.3s;
 }
 
 .SuspenseLoader-cubes .sk-cube7 {
  animation-delay: 0s;
 }
 
 .SuspenseLoader-cubes .sk-cube8 {
  animation-delay: 0.1s;
 }
 
 .SuspenseLoader-cubes .sk-cube9 {
  animation-delay: 0.2s;
 }
 
 @keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
   transform: scale3D(1, 1, 1);
  }
  35% {
   transform: scale3D(0, 0, 1);
  }
 }