/* Container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    text-align: center;
  }
  
  /* Conteúdo principal */
  .main-content {
    max-width: 800px;
    width: 100%;
  }
  
  /* Estilos dos textos */
  .title {
    margin: 20px 0;
    font-size: 2rem;
    color: #333;
  }
  
  .subtitle {
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #666;
    font-weight: normal;
  }
  
  /* Imagem */
  .image-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  /* Linha divisória */
  .divider {
    margin: 40px 0;
    border: none;
    height: 1px;
    background-color: #ddd;
    width: 80%;
  }
  
  /* Ícones das redes sociais */
  .social-media-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
  }
  
  .social-icon img:hover {
    transform: scale(1.1);
  }
  