.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
    text-align: center;
  }
  
  .main-content {
    max-width: 600px;
    margin: auto;
  }
  
  .title {
    margin: 20px 0;
    font-size: 2rem;
    color: #333;
  }
  
  .subtitle {
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #666;
    font-weight: normal;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .btn-outline {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #1976d2;
    color: #1976d2;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-outline:hover {
    background-color: #1976d2;
    color: white;
  }
  
  .divider {
    margin: 40px 0;
    border: none;
    height: 1px;
    background-color: #ddd;
    width: 80%;
  }
  
  .social-media-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
  }
  
  .social-icon img:hover {
    transform: scale(1.1);
  }
  