.purchase-confirmation-page {
    display: flex;
    height: 100vh;
}

.purchase-confirmation-page__left,
.purchase-confirmation-page__right {
    width: 50%;
    display: flex;
}

.purchase-confirmation-page__left {
    align-items: flex-start;
    justify-content: center;
}

.purchase-confirmation-page__right {
    background-color: var(--color3);
    border-left: var(--border1);
    align-items: center;
    justify-content: center;
}

.purchase-confirmation-page__image {
    height: 80%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}

.purchase-confirmation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.purchase-confirmation__logo-container {
    margin: 32px;
}

.purchase-confirmation__logo {
    height: 75px;
}

.purchase-confirmation__content {
    border: var(--border1);
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.purchase-confirmation__header {
    text-align: center;
    margin-bottom: 24px;
}

.purchase-confirmation__header h2 {
    font-weight: 600;
    font-size: x-large;
}

.purchase-confirmation__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.purchase-confirmation__details label {
    font-weight: 500;
    margin-bottom: 4px;
}

.purchase-confirmation__details span {
    font-size: 16px;
}

.purchase-confirmation__buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 30px;
}

.purchase-confirmation__button {
    width: 100%;
}

/* Responsivity */
@media (max-width: 1100px) {
    .purchase-confirmation-page__image {
        height: 50%;
    }
}

@media (max-width: 768px) {
    .purchase-confirmation-page__right {
        display: none;
    }
    
    .purchase-confirmation__logo {
        height: 35px;
    }

    .purchase-confirmation-page {
        flex-direction: column;
    }

    .purchase-confirmation-page__left,
    .purchase-confirmation-page__right {
        width: 100%;
        height: 50%;
    }

    .purchase-confirmation__container {
        width: 90%;
    }

    .purchase-confirmation__content {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .purchase-confirmation__button {
        padding: 12px;
        font-size: 18px;
    }
}
