.side-navigation {
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: calc(100% - 60px);
    background: var(--white);
    z-index: 1;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
    overflow-x: visible;
    border-right: var(--border1);
    box-shadow: none !important;
}

.side-navigation__buttons-list {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 0px;
    padding: 50px 12px 12px 12px;
    overflow: hidden auto;
    transition: width 0.5s ease-in-out;
    user-select: none;
}

.side-navigation__buttons-list--list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 5px 0px 5px 0px;
    min-width: 32px;
    background-color: white;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.side-navigation__buttons-list--list:hover {
    background-color: #ececec;
}

.list__button {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    user-select: none;
    text-decoration: none;
    margin: 0px;
    padding: 6px;
    min-height: 32px;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    position: relative;
}

.list__button--span {
    margin: 0 8px 0 8px;
}

.side-navigation__buttons-list--expand-button {
    display: flex;
    align-items: flex-end;
    flex: 1 1 0%;
    position: sticky;
    bottom: 0px;
    right: 0px;
}
