.payment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0px 20px;
  cursor: pointer;
  color: var(--white);
  border: none;
  border-radius: 10px;
}

