.input2 {
    background-color: var(--color1);
    font-size: 12px;
    border: var(--border1);
    color: #202020;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    outline: none;
    transition: all ease-in-out 0.2s;
    box-sizing: border-box;
  }

.label {
    font-size: 10px;
    padding: 5px 0;
    font-weight: 700;
    user-select: none;
    color: #374151;
  }