/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilos Universais */
:root {
  --font: Inter, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  --accentPrimary: #F46A35;
  --accentPrimaryHover: #f4883a;
  --accentPrimaryPressed: #f15a1e;
  --accentPrimaryDisabled: #eb9d7e;
  --accentSecondary: #9BE7E2;
  --accentSecondaryHover: #b2e7e3;
  --accentSecondaryPressed: #72e7dd;
  --accentSecondaryDisabled: #cfe6e4;
  --accentCommon: #e4e4e4;
  --accentCommonHover: #d9d9d9;
  --accentCommonPressed: #cacaca;
  --accentCommonDisabled: #e9e9e9;
  --accentCancel: #f5f5f5;
  --accentCancelHover: #f1f1f1;
  --accentCancelPressed: #f9f9f9;
  --accentCancelDisabled: #ffffff;
  --accentDanger: #da2020;
  --accentDangerHover: #f42626;
  --accentDangerPressed: #c62020;
  --accentDangerDisabled: #d03e3e;
    /* === Success === */
  --accentSuccess: #16A34A;
  --accentSuccessHover: #22C55E;
  --accentSuccessPressed: #15803D;
  --accentSuccessDisabled: #86EFAC;

  /* === Warning === */
  --accentWarning: #F59E0B;
  --accentWarningHover: #FDBA28;
  --accentWarningPressed: #D97706;
  --accentWarningDisabled: #FCD34D;

  /* === Info === */
  --accentInfo: #0EA5E9;
  --accentInfoHover: #38BDF8;
  --accentInfoPressed: #0284C7;
  --accentInfoDisabled: #7DD3FC;

  --white: #ffffff;
  --black: #202020;
  --color1: #f2f2f2;
  --color2: #e4e4e4;
  --color3: #f9f9f9;
  --color4: #3D3D40;
  --color5: #006919;
  --color6: #740000;
  --standardBorder: 0.5px solid #d6d6d6;
  --border2: 1px solid #ececec;
}

* {
  font-family: var(--font) !important;
}

*, *:focus, *:focus-visible {
  outline: none !important;
}

*::-webkit-scrollbar {
  width: 6px;
}
  
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

button[class*="inline-flex"] {
  outline: none !important;
  box-shadow: none !important;
}

button[class*="inline-flex"]:focus {
  outline: none !important;
  box-shadow: none !important;
}

button[class*="inline-flex"]:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

@layer utilities {
  .standard-border { border: var(--standardBorder); }
}

@keyframes shimmer {
  100% { transform: translateX(100%); }
}