/* Tailwind */
@import "tailwindcss";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilos Universais */
:root {
  --font: Inter, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  --accentPrimary: #F46A35;
  --accentPrimaryHover: #f4883a;
  --accentPrimaryPressed: #F36127;
  --accentPrimaryDisabled: #eb9d7e;
  --accentSecondary: #9BE7E2;
  --accentSecondaryHover: #b2e7e3;
  --accentSecondaryPressed: #72e7dd;
  --accentSecondaryDisabled: #cfe6e4;
  --white: #ffffff;
  --black: #202020;
  --color1: #f2f2f2;
  --color2: #e4e4e4;
  --color3: #f9f9f9;
  --color4: #3D3D40;
  --color5: #006919;
  --color6: #740000;
  --border1: 0.5px solid #d6d6d6;
  --border2: 1px solid #ececec;
}

* {
  font-family: var(--font) !important;
  outline: none !important;
}

*::-webkit-scrollbar {
  width: 6px;
}
  
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
